go 1.21.6

use ./basic-syntax
use ./variables
use ./data-types
use ./conditional-statements
use ./functions
use ./for-loop
use ./range
use ./errors-panic-recover
use ./packages
use ./type-casting
use ./arrays
use ./slices
